
<div class="container">
 
<form [formGroup]="locationForm" (ngSubmit)="getDetailsByZipCode()" >
    <div *ngIf="error && message" class="alert alert-danger" role="alert">
        {{message}}
      </div>

      <div *ngIf="!error && message" class="alert alert-success" role="alert">
          {{message}}
        </div>
  <div class="form-group">
     <label for="inputZipCode"></label>
    <input formControlName="zipCode" required type="text" maxlength="10" class="form-control" id="inputZipCode" placeholder="Enter Zip Code">
    <div *ngIf="zipCodeValue.invalid && (zipCodeValue.dirty || zipCodeValue.touched)">
        <div class="invalid-feedback d-block" *ngIf="zipCodeValue.errors.required">Enter a zip code.</div>
      </div>
  </div>
  <button type="submit" [disabled]="locationForm.invalid" class="btn btn-primary">Find</button>
</form>
</div>
<router-outlet></router-outlet>
